name: build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: cache-maven-repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-repository

      - name: setup-java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: build
        run: mvn -B clean package

      - name: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: |
            frontend/target/*.jar
            users/target/*.jar
            permissions/target/*.jar
